<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

	<connectionStrings>
		<!--<add connectionstring="server=tcp:blogtracker.database.windows.net,1433;initial catalog=blogdb;persist security info=false;user id=sahidxb;password=hello@123456;multipleactiveresultsets=false;encrypt=true;trustservercertificate=false;connection timeout=30;"
			 name="mycontext" providername="system.data.sqlclient">
		</add>-->


		<add connectionString="Data Source=SAHID\SQLEXPRESS;Initial Catalog=BlogDB;Integrated Security=True" name="MyContext" providerName="System.data.SqlClient"></add>
	</connectionStrings>
	
</configuration>